/* Remove default styling */
* {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-decoration: none;
	color: inherit;
	outline: none;
}

/* Fix border styles */
* {
	border-width: 0px;
	border-style: solid;
}

/* Make body fill page */
body {
	width: 100vw;
	height: 100vh;
	overscroll-behavior: none;
}



/* Grid */
.grid-gap-4 {
	grid-gap: 4px;
}



/* HGrid */
.hgrid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.hgrid-item-1 {
	grid-column-end: span 1;
}

.hgrid-item-2 {
	grid-column-end: span 2;
}

.hgrid-item-3 {
	grid-column-end: span 3;
}

.hgrid-item-9 {
	grid-column-end: span 9;
}

.hgrid-item-11 {
	grid-column-end: span 11;
}

.hgrid-item-12 {
	grid-column-end: span 12;
}



/* VGrid */
.vgrid {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
}

.vgrid-item-1 {
	grid-row-end: span 1;
}

.vgrid-item-3 {
	grid-row-end: span 3;
}

.vgrid-item-8 {
	grid-row-end: span 8;
}

.vgrid-item-11 {
	grid-row-end: span 11;
}



/* Flexbox */
.flex {
	display: flex;
}

.flex-down {
	flex-direction: column;
}

/* Flexbox Item Alignment */
.align-self-right {
	align-self: flex-end;
}

.align-self-left {
	align-self: flex-start;
}



/* Sizing */
.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}



/* Spacing */
.m-4 {
	margin: 4px;
}

.m-8 {
	margin: 8px;
}

.p-4 {
	padding: 4px;
}

.p-8 {
	padding: 8px;
}

.pl-4 {
	padding-left: 4px;
}

.pt-4 {
	padding-top: 4px;
}



/* Background */
.bg-cover {
	background-size: cover;
}

.bg-center {
	background-position: center;
}



/* Text */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* Text Sizing */
.text-md {
	font-size: 1.1em;
}

.text-lg {
	font-size: 1.25em;
}

.text-xl {
	font-size: 1.5em;
}

.text-2xl {
	font-size: 3em;
}

.text-3xl {
	font-size: 4.5em;
}

.text-4xl {
	font-size: 6em;
}

/* Text Color */
.text-black {
	color: #000;
}

.text-gray {
	color: #4f4f4f;
}

.text-white {
	color: #fff;
}

/* Text Stroke */
.text-stroke-black {
	text-shadow:
		-1px -1px 1px #000,
		1px -1px 1px #000,
		1px 1px 1px #000,
		-1px 1px 1px #000,
		-1px -1px 10px #000,
		1px -1px 10px #000,
		1px 1px 10px #000,
		-1px 1px 10px #000;
}

.text-stroke-white {
	text-shadow: 0px 0px 3px #fff;
}



/* Corners */
.rounded-full {
	border-radius: 50%;
}

.rounded-lg {
	border-radius: 0.5rem;
}



/* Borders */
.border {
	border-width: 1px;
}

.border-r {
	border-right-width: 1px;
}

.border-b {
	border-bottom-width: 1px;
}

.border-gray {
	border-color: #4f4f4f;
}



/* Shadow */
.shadow-sm {
	box-shadow: 0px 1px 3px;
}
