@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes blur-in {
	from {
		-webkit-filter: blur(0px);
		filter: blur(0px);
	}
	to {
		-webkit-filter: blur(4px);
		filter: blur(4px);
	}
}

.blur-in {
	animation-name: blur-in;
	animation-duration: 2s;
	animation-fill-mode: both;
}
